* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: #a95aee;
    font-family: Impact, Helvetica, sans-serif;
  }
  
  
  /* HEADER / NAV BAR STYLES START */
  
  header {
    padding: 20px 35px;
    background-color: #4cdbff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  header h1 {
    font-weight: bold;
    display: inline;
    margin: 0;
    font-size: 48px;
    color: #a95aee;
    text-decoration: #43d966;
  }
  
  header a {
    text-decoration: none;
    color: #a95aee;
  }
  
  header nav {
    float: right;
    margin: 18px 0;
  }
  
  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 26px;
  }
  
  /* HEADER / NAVBAR STYLES END */

  h2 {
    font-weight: bold;
    display: inline;
    margin: 0;
    font-size: 46px;
    color: #43d966;
  }

  .about p {
      font-family: sans-serif;
      font-weight: bold;
      padding: 0 0 30px 0;
      text-align: center;
  }